<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <style>
        body {background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/10/27/825565/a8f967ede1e1e41abc91787415e3b9ee.jpg");}
    </style>
</head>
<body>
    <h1><%= team.name %> Homepage</h1><br><br>
    <h2>Team Members</h2><br>
    <% for(let i=0; i < team.Players.length; i++) { %>
        <%= team.Players[i].name %><br><br>
    <% } %>
    
</body>
</html>